In [3]:
import pandas as pd
import numpy as np

In [4]:
df = pd.read_excel('zapatillas.xlsx')
running = df.loc[df['Categoria'] == 'Running']
running = running.loc[running['Modelo'].str.contains('Remera') == False]
running = running.loc[running['Modelo'].str.contains('Buzo') == False]
running = running.loc[running['Modelo'].str.contains('Camiseta') == False]
running = running.loc[running['Modelo'].str.contains('Campera') == False]
running = running.loc[running['Modelo'].str.contains('Chaleco') == False]
running = running.loc[running['Modelo'].str.contains('Bermuda') == False]
running = running.loc[running['Modelo'].str.contains('Gorra') == False]
running = running.loc[running['Modelo'].str.contains('Musculosa') == False]
running = running.loc[running['Modelo'].str.contains('PantalÃ³n') == False]
running = running.loc[running['Modelo'].str.contains('Porta Celular') == False]
running = running.loc[running['Modelo'].str.contains('RiÃ±onera') == False]
running

,Modelo,Marca,Talle,Color,Cantidad,Precio,Precio 8 Cuotas,Precio 6 Cuotas,Precio 3 Cuotas,Disponible en,Categoria
0,Nike Downshifter 11,Nike,41,Amarillo,15,16999,2124.88,2833.17,5666.33,Nike Store Plaza Oeste,Running
1,adidas 4d Fwd Pulse,adidas,38,Verde,15,34999,4374.88,5833.17,11666.33,Nike Store Avellaneda,Running
2,Nike Quest 4,Nike,36,Negro,4,21599,2699.88,3599.83,7199.67,Nike Store Abasto,Running
3,Nike Juniper Trail,Nike,41,Verde,28,23099,2887.38,3849.83,7699.67,Nike Store Avellaneda,Running
4,adidas Run 70S,adidas,36,Violeta,14,17899,2237.38,2983.17,5966.33,Nike Store Abasto,Running
...,...,...,...,...,...,...,...,...,...,...,...
704,adidas Lite Racer 2.0,adidas,35,Azul,26,15799,1974.88,2633.17,5266.33,Nike Store Tortugas,Running
705,Salomon Hypulse,Salomon,36,Violeta,1,29399,3674.88,4899.83,9799.67,Nike Store Plaza Oeste,Running
706,Nike Pegasus Trail 3,Nike,38,Verde,29,32499,4062.38,5416.50,10833.00,Nike Store Pilar,Running
707,Nike Air Max Infinity 2,Nike,41,Azul,20,24999,3124.88,4166.50,8333.00,Nike Store Alto Palermo,Running
708,Reebok Lite Plus 3.0,Reebok,35,Rojo,22,11999,1499.88,1999.83,3999.67,Nike Store Plaza Oeste,Running

In [5]:
moda = df.loc[df['Categoria'] == 'Moda']
moda

,Modelo,Marca,Talle,Color,Cantidad,Precio,Precio 8 Cuotas,Precio 6 Cuotas,Precio 3 Cuotas,Disponible en,Categoria
709,Topper Nikita Cs,Topper,41,Verde,12,10899,1362.38,1816.50,3633.00,Nike Store Pilar,Moda
710,Puma Karmen L,Puma,41,Amarillo,20,17899,2237.38,2983.17,5966.33,Nike Store Alto Palermo,Moda
711,Puma Rose Plus,Puma,37,Azul,1,14199,1774.88,2366.50,4733.00,Nike Store Alcorta,Moda
712,Puma R78 Voyage Premium,Puma,37,Violeta,27,16799,2099.88,2799.83,5599.67,Nike Store Plaza Oeste,Moda
713,Lotto Runner Sue Basic,Lotto,41,Negro,18,7999,999.88,1333.17,2666.33,Nike Store Avenida Santa Fe,Moda
...,...,...,...,...,...,...,...,...,...,...,...
1054,Nike Court Legacy Canvas,Nike,36,Azul,27,18699,2337.38,3116.50,6233.00,Nike Store Solar,Moda
1055,Fila Float Jogger,Fila,38,Amarillo,6,17399,2174.88,2899.83,5799.67,Nike Store Avenida Santa Fe,Moda
1056,Converse Chuck Taylor All Star Linen Ox,Converse,35,Violeta,15,16799,2099.88,2799.83,5599.67,Nike Store Pilar,Moda
1057,Lotto Trainer,Lotto,40,Verde,20,4999,624.88,833.17,1666.33,Nike Store Abasto,Moda
1058,Nike Air Max Excee,Nike,35,Amarillo,29,18999,2374.88,3166.50,6333.00,Nike Store Tortugas,Moda

In [6]:
training = df.loc[df['Categoria'] == 'Training']
training

,Modelo,Marca,Talle,Color,Cantidad,Precio,Precio 8 Cuotas,Precio 6 Cuotas,Precio 3 Cuotas,Disponible en,Categoria
1059,Topper Strong Pace III,Topper,36,Azul,22,11799,1474.88,1966.50,3933.00,Nike Store Alto Palermo,Training
1060,Topper Strong Pace III,Topper,39,Amarillo,28,11799,1474.88,1966.50,3933.00,Nike Store Alcorta,Training
1061,Fila Trend 2.0,Fila,38,Rosa,5,13699,1712.38,2283.17,4566.33,Nike Store DOT,Training
1062,Topper Ultralight II Mesh,Topper,42,Rosa,2,10299,1287.38,1716.50,3433.00,Nike Store Unicenter,Training
1063,Topper Squat,Topper,40,Verde,14,14399,1799.88,2399.83,4799.67,Nike Store Pilar,Training
...,...,...,...,...,...,...,...,...,...,...,...
1161,Nike Air Max Bella Tr 3,Nike,39,Verde,21,20599,2574.88,3433.17,6866.33,Nike Store Alcorta,Training
1162,Nike Air Zoom SuperRep 2,Nike,39,Azul,21,31699,3962.38,5283.17,10566.33,Nike Store Alto Palermo,Training
1163,Puma Lvl-Up Xt Wn S,Puma,37,Amarillo,1,19999,2499.88,3333.17,6666.33,Nike Store Avenida Santa Fe,Training
1164,Nike Free Metcon 4,Nike,35,Azul,14,36699,4587.38,6116.50,12233.00,Nike Store Alcorta,Training
1165,Topper Vr Speed,Topper,36,Negro,8,8999,1124.88,1499.83,2999.67,Nike Store Alcorta,Training

In [7]:
frames = [running,moda,training]
z = pd.concat(frames)
z = z.reset_index()
z.drop('index', axis=1, inplace=True)
z

,Modelo,Marca,Talle,Color,Cantidad,Precio,Precio 8 Cuotas,Precio 6 Cuotas,Precio 3 Cuotas,Disponible en,Categoria
0,Nike Downshifter 11,Nike,41,Amarillo,15,16999,2124.88,2833.17,5666.33,Nike Store Plaza Oeste,Running
1,adidas 4d Fwd Pulse,adidas,38,Verde,15,34999,4374.88,5833.17,11666.33,Nike Store Avellaneda,Running
2,Nike Quest 4,Nike,36,Negro,4,21599,2699.88,3599.83,7199.67,Nike Store Abasto,Running
3,Nike Juniper Trail,Nike,41,Verde,28,23099,2887.38,3849.83,7699.67,Nike Store Avellaneda,Running
4,adidas Run 70S,adidas,36,Violeta,14,17899,2237.38,2983.17,5966.33,Nike Store Abasto,Running
...,...,...,...,...,...,...,...,...,...,...,...
957,Nike Air Max Bella Tr 3,Nike,39,Verde,21,20599,2574.88,3433.17,6866.33,Nike Store Alcorta,Training
958,Nike Air Zoom SuperRep 2,Nike,39,Azul,21,31699,3962.38,5283.17,10566.33,Nike Store Alto Palermo,Training
959,Puma Lvl-Up Xt Wn S,Puma,37,Amarillo,1,19999,2499.88,3333.17,6666.33,Nike Store Avenida Santa Fe,Training
960,Nike Free Metcon 4,Nike,35,Azul,14,36699,4587.38,6116.50,12233.00,Nike Store Alcorta,Training
961,Topper Vr Speed,Topper,36,Negro,8,8999,1124.88,1499.83,2999.67,Nike Store Alcorta,Training

In [8]:
z.to_excel('zapatillas_definitivo.xlsx')

In [62]:
dia = z.sample(n=400)
dia = dia.loc[dia['Cantidad'] > 0]
dia = dia.reset_index()
dia.drop('index', axis=1, inplace=True)
dia['Cantidad'] = dia['Cantidad'] * 20 / 50
dia['Cantidad'] = dia['Cantidad'].astype(int)
dia = dia.loc[dia['Cantidad'] > 0]
dia = dia.reset_index()
dia.drop('index', axis=1, inplace=True)
dia.drop('Precio 8 Cuotas', axis=1, inplace=True)
dia.drop('Precio 6 Cuotas', axis=1, inplace=True)
dia.drop('Precio 3 Cuotas', axis=1, inplace=True)
dia.rename(columns={'Cantidad': 'Vendidas'}, inplace=True)
dia.rename(columns={'Disponible en': 'Vendida en'}, inplace=True)
dia

,Modelo,Marca,Talle,Color,Vendidas,Precio,Vendida en,Categoria
0,Puma Flyer Flex,Puma,41,Violeta,8,13699,Nike Store Solar,Running
1,Nike Nike Zoomx Vaporfly Next,Nike,42,Verde,8,54999,Nike Store Alcorta,Running
2,Reebok Flexagon Energy 3.0,Reebok,37,Negro,9,10499,Nike Store DOT,Training
3,Topper Kham,Topper,39,Azul,2,14599,Nike Store Pilar,Moda
4,Topper T-700 Cs,Topper,40,Violeta,4,11099,Nike Store Abasto,Moda
...,...,...,...,...,...,...,...,...
356,Nike Air Max Intrlk,Nike,41,Azul,2,31499,Nike Store Tortugas,Running
357,Nike Quest 4,Nike,39,Azul,4,21599,Nike Store Solar,Running
358,Pony Urban Ox Canvas,Pony,35,Azul,8,11999,Nike Store DOT,Moda
359,Converse Chuck Taylor All Star Linen Ox,Converse,35,Violeta,6,16799,Nike Store Pilar,Moda
360,adidas Questar,adidas,40,Negro,1,22099,Nike Store Plaza Oeste,Running

In [64]:
a = []
for i in range(1000,4700+1):
    a.append(i)

In [70]:
ws = {'Codigo venta': np.random.choice(a, size=len(dia)),'Dia':pd.date_range(start='2022-01-01', end='2022-12-27'),'Modelo': dia['Modelo'], 'Marca': dia['Marca'], 'Talle': dia['Talle'], 'Color': dia['Color'],'Vendidas': dia['Vendidas'], 'Precio': dia['Precio'], 'Vendida en': dia['Vendida en'], 'Categoria': dia['Categoria']}
d = pd.DataFrame(ws)
d['Modelo'] = d['Modelo'].str.replace('adidas', 'Adidas')
d['Marca'] = d['Marca'].str.replace('adidas', 'Adidas')
d

,Codigo venta,Dia,Modelo,Marca,Talle,Color,Vendidas,Precio,Vendida en,Categoria
0,2755,2022-01-01,Puma Flyer Flex,Puma,41,Violeta,8,13699,Nike Store Solar,Running
1,3769,2022-01-02,Nike Nike Zoomx Vaporfly Next,Nike,42,Verde,8,54999,Nike Store Alcorta,Running
2,4065,2022-01-03,Reebok Flexagon Energy 3.0,Reebok,37,Negro,9,10499,Nike Store DOT,Training
3,1177,2022-01-04,Topper Kham,Topper,39,Azul,2,14599,Nike Store Pilar,Moda
4,3656,2022-01-05,Topper T-700 Cs,Topper,40,Violeta,4,11099,Nike Store Abasto,Moda
...,...,...,...,...,...,...,...,...,...,...
356,1594,2022-12-23,Nike Air Max Intrlk,Nike,41,Azul,2,31499,Nike Store Tortugas,Running
357,3745,2022-12-24,Nike Quest 4,Nike,39,Azul,4,21599,Nike Store Solar,Running
358,4202,2022-12-25,Pony Urban Ox Canvas,Pony,35,Azul,8,11999,Nike Store DOT,Moda
359,1059,2022-12-26,Converse Chuck Taylor All Star Linen Ox,Converse,35,Violeta,6,16799,Nike Store Pilar,Moda
360,4268,2022-12-27,Adidas Questar,Adidas,40,Negro,1,22099,Nike Store Plaza Oeste,Running

In [71]:
d.to_excel('year.xlsx')

In [73]:
def afip_month_year(dataf):
    rent = 50000
    employees_low = 80000
    employees_mid = 150000
    employees_high = 200000
    services = 180000
    
    try:
        total = dataf['Vendidas*Precio'] = dataf['Vendidas'] * dataf['Precio']
        total = total.sum()
        total_iva = total - (total*0.28)
        total_paying_services = total_iva - services - rent
        total_employees_low = total_paying_services - (employees_low * 100)
        total_employees_mid = total_employees_low - (employees_mid * 80)
        total_employees_high = total_employees_mid - (employees_high * 30)
        print(f'Las ventas totales son {total}, descontando el IVA e ingresos brutos (28%) te quedarÃ­a {int(total_iva)}, pagando el alquiler/expensas te quedarian {int(total_paying_services)}')
        print(f'DespuÃ©s de pagarle a todos los empleados te quedarÃ­an {int(total_employees_high)}')
        
    except Exception as e:
        print(f'Error: {e}')

In [74]:
afip_month_year(d)

Las ventas totales son 40402378, descontando el IVA e ingresos brutos (28%) te quedarÃ­a 29089712, pagando el alquiler/expensas te quedarian 28859712
DespuÃ©s de pagarle a todos los empleados te quedarÃ­an 2859712